{% extends "master.html" %}
{% block main %}
    <script>
        function getRecs()
        {
          $.getJSON('/rec/recs/' + {{user_id }}, function(result) {
            var table = document.getElementById("recsTable");
            
            var rowcount = table.rows.length;
            var row = table.insertRow(rowcount);

            result.forEach(function(element, index, array) {
              
                row.insertCell(index).innerHTML = '<a ' + 
                               'onclick=\'PostEvent(\"'
                               + element.target + '\", \"rec:seedrec\")\''
                              + "href='/movie/"+ element.target + "'>"
                              + "<img class='movie' src='" + element.rtpictureurl + "' />"
                              + "</a>" ;
            });

            if (result.length > 0) {
                var recsDiv = document.getElementById("recs")
                recsDiv.style.visibility = "visible" ;
            }
          })
        }
        function getCfRecs(url, divid, tableid)
        {
          $.getJSON(url + {{user_id }}, function(result) {
            var table = document.getElementById(tableid);

            var rowcount = table.rows.length;
            var row = table.insertRow(rowcount);

            result.forEach(function(element, index, array) {

                row.insertCell(index).innerHTML = '<a ' +
                               'onclick=\'PostEvent(\"'
                               + element.target + '\", \"rec:cf\")\''
                              + "href='/movie/"+ element.id + "'>"
                              + "<img class='movie' src='" + element.rtpictureurl + "' />"
                              + "</a>" ;
            });

            if (result.length > 0) {
                var recsDiv = document.getElementById(divid)
                recsDiv.style.visibility = "visible" ;
            }
          })
        }
        function getCfURecs()
        {
          getCfRecs('/rec/collaborative/user/', "cfu_recs", "cfu_recsTable");
        }

        function getCfIRecs()
        {
          getCfRecs('/rec/collaborative/item/', "cfi_recs", "cfi_recsTable");
        }

        function getTopContent() {
          
          $.getJSON('/rec/chart', function(result) {
            var ul = document.getElementById("top_content");

            result.forEach(function(element, index, array) {
              addRow(index +1, '<a ' + 
                               'onclick=\'PostRecClicked(\"' 
                               + element.content_id + '\", \"rec:chart\")\''
                              + "href='/movie/"+ element.content_id + "'>"
                              + element.title + "</a>", "chartTable");
            });
          })
      };

        function addRow(no, movie, tablename) {
            var table = document.getElementById(tablename);
            
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            row.insertCell(0).innerHTML= no + "     " + movie;
        }
    </script>
   {% if movies %}
    <div class="left">
        <div class="movie_area">
     {% for movie in movies %}
                <div class="div_movie" data-movie-item="{{movie.id}}">
                    <img class="movie"
                        tabindex="0"
                        role="button"
                        data-html="true"
                        data-toggle="popover"
                        data-trigger="focus"
                        title="{{ movie.title}}"
                        data-contentid="{{movie.id}}"
                        data-content="<div class='popover_class'>
                            Year: {{movie.year}}
                            <br/>
                            Rotten Tomate rating: {{ movie.rtallcriticsrating }}
                            <br />
                            <a onclick='PostEvent({{movie.id}}, 'SaveForLater')'
                               href='#' >save for later</a>
                            <br />
                            <a href='/movie/{{movie.id}}'
                            data-html='true'
                            onclick='PostEvent({{movie.id}}, 'MoreDetails')'
                            >more details</a>
                         </div>"
                    src="{{movie.rtpictureurl.strip}}" />
                </div>
            {% endfor %}
<p class="clearBoth"></p>

            <div id="recs" style = "visibility: hidden">
           <h3>Recommended for you, based on your recent buys</h3>
           <table id="recsTable">
            </table>
    	</div>
        <!--div id="cfu_recs" style="visibility: hidden">
            <h3>Similar users also liked (user)</h3>
            <table id="cfu_recsTable">
            </table>
        </1div-->
        <div id="cfi_recs" style="visibility: hidden">
            <h3>Similar items</h3>
            <table id="cfi_recsTable">
            </table>
        </div>
            </div>
 <p class="clearBoth"></p>
    <div class="pagination">
        <span class="step-links">
            {% if movies.has_previous %}
            <a href="{{ url }}??page={{ movies.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
            </span>

            {% if movies.has_next %}
            <a href="{{ url }}?page={{ movies.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
</div>
<div class="right">
    <h2>popular content</h2>
    <table id="chartTable">
    </table>
    <script type="text/javascript">
        getTopContent();
        getRecs();
        //getCfURecs();
        getCfIRecs();
    </script>

    <div class="bottom"> <i> Number of movies found: {{number_of_movies}} </i> </div>
</div>
        {% else %}
            <p>No movies available.</p>
    {% endif %}
{% endblock main %}



