<!DOCTYPE html>
<html lang="en">
 <head>
   <title>{% block title %}{% endblock %}</title>
   {% load staticfiles %}
   <!-- Bootstrap -->
   <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/>
   <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
   <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{% static "js/evidenceLogger.js" %}"></script>
   <script>
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
	 
       $('.movie').on('show.bs.popover', function () {
            contentid = $(this).attr("data-contentid");
            PostEvent(contentid,"details");
 			});
      });
	  function PostEvent(contentid, eventType){
        var userid;
        var contentid;
        sessionid = '{{sessionid}}';
        userid = '{{user_id}}';
        postEvidence(userid, contentid, sessionid, eventType);
      }

      function PostMoreDetailsEvent(a) {
        postEvent($(a).data("contentid"), 'moredetails');
      };

      function PostSaveForLaterEvidence(a) {
        postEvidence($(a).data("userid"), $(a).data("contentid"), $(a).data("sessionid"), 'SaveForLater');
      };
   </script>
 </head>
 <body>
<div class="wrapper">
        <div class="inner">
  {% block header %}
   <header id="header">
           <div class="container">
            <div class="header_left"><h1>Movie GEEKs</h1> </div>
            <div class="header_right">
                {% if user.is_authenticated %}
                <h4>Welcome {{ user.username }}!</h4>
                <a href="logout">logout</a>
                {% else %}
                <h4>Welcome somebody!</h4> <br/>
                <a href="login">login</a> | <a href="register">register</a>
                {% endif %}
            </div>
           </div>
        </header>
  {% endblock header %}
   <div class="nav">
    {% if not genres %}
                No genres found
    {% else %}
       {% for genre in genres %}

            {% if genre.genre.strip == genre_name %}
                <b>
            {% endif %}
        <a onclick='PostEvent({{genre.genre.strip}}, "genre")'
        href="/genre/{{genre.genre.strip}}">{{genre.genre}}</a>
            {% if genre.genre.strip == genre_name %}
                </b>
            {% endif %}
       <br />
      {% endfor %}
    {% endif %}
		{% block section%}{% endblock section%}
	</div>
   <div id="section">{% block main %}{% endblock %}</div>

        </div>
    </div>
 </body>
</html>
